
.mainbg{background-color: rgb(190, 167, 138);border: 6px solid rgb(77 47 55 / 56%);}
h1{color: rgb(127, 5, 5); background-color: seagreen;font: bolder; }
.Visionpara{background-color: rgb(231, 9, 57); border-radius: 3px;color: rgb(0, 249, 174);}
h2{color: azure; background-color: rgb(121, 9, 65);}
h3{background-color: aquamarine;}
.Questions{background-color: rgb(220, 138, 17); font-family: cursive;}